*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

body{
    background-color: floralwhite;
    
}

nav{
    background-color: #DCF2F2;
    height: 15vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    margin-right: 8em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

nav ul li a:hover{
    color: #D971B5;
    transition: 0.6s;
}

nav a:focus{
    background-color: white;
}



nav img{
    height: 4em;
    margin-left: 6em;
    mix-blend-mode: multiply;
    filter: saturate(5);
    transition: transform .4s;
}

nav img:hover{
    transform: scale(1.2);
}

/* end of nav */

/* start of Main */

#index{
    height: auto;
    width: 100%;

}

#index h1{
    text-align: center;
    margin-top: 1em;
}

#index section{
    width: 80%;
    max-height: 70vh;
    margin: auto;
    display: flex ;
}

#index section img{
    width: 50%;
}

div h2{
    text-align: center;
    font-size: 4em;
}

div p{
    font-size: 1.7rem;
    margin: 1em;
}

/* end of Index */

/* start of About */

article h1{
    border: solid 2px bisque;
    background-color: bisque;
    /* width: fit-content; */
    width: 3em;
    height: fit-content;
    margin-top: 2em;
    padding: 2em;
}

.container article{
    display: flex;
}

.container article img{
    height: 70vh;
}

.container img{
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 1em;
}

.container figure {
    display: flex;
    flex-flow: column;
}

.container figcaption {
    background-color: #222;
    color: floralwhite;
    font: italic smaller sans-serif;
    font-size: 1em;
    padding: 1em;
    text-align: center;
    width: auto;
    margin-left: 2em;
    margin-right: 1em;
  }

  .image{
    position: relative;
  }

  .content{
    width: auto;
    height: 70vh;
    position: absolute;
    top: 0;
    margin-top: 3em;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    opacity: 0;
    transition: 0.6s;
    margin-right: 1em;
  }

  .content:hover{
    opacity: 1;
  }

  .content p{
    font-size: 1.2rem;
    color: floralwhite;
  }

  .content > p{
transform: translateY(25px);
transition: transform 0.6s;
  }

  .content:hover > p{
    transform: translateY(0px);
  }


  /* start of page sights */

.blok{
    background-color: #E9EDF2;
    height: 70vh;
    margin-top: 5em;
  }

.blok{
    display: flex;
}

.blok a{
    display: flex;
    flex-flow: column;
    text-decoration: none;
    transition: transform .4s ;
}

.blok a:hover{
transform: scale(1.2);
}

.blok img{
height: 50vh;
margin-top: 3em;
margin-left: 2em;
}

.blok figcaption{
    background-color: #222;
    color: floralwhite;
    font: italic smaller sans-serif;
    font-size: 1em;
    padding: 1em;
    text-align: center;
    width: auto;
    margin-left: 2em;
}
